.paragraph--text-promotions{
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
  font-family: "work-sans";
}

.paragraph--text-more-offers {
  margin: 30px 0;
  font-size: 22px;
  font-weight: 600;
  font-family: "work-sans";
}