.menuContainerNav--mega-menu {
  max-width: 100rem;
  height: 77vh;
  left: 16rem;
  top: 10rem;
  border: 1px solid #c2c2c2;
  border-top: none;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 6px 0 rgba(0, 0, 0, 0.14),
    0 2px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  font-family: "Obi Regular";
  z-index: 9;
  overflow: overlay;
}

.menuContainer {
  width: 300px !important;
  height: max-content;
  max-height: max-content;
  border-right: none;
}
.submenuContainer {
  width: 100% !important;
  overflow: initial;
  max-height: max-content;
  border-left: 2px solid #e3e4e6;
}