
.label--link-header-top{
  /* cambiar la fuente */
  font-family: sans-serif;  
  padding: 10px;
  text-transform: capitalize;
  color: rgb(74, 74, 74);
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
}

.link--link-header-top{
  text-decoration: none; 
}

.label--categoria-menu{
  /* cambiar la fuente */
  font-family: sans-serif;  
  padding: 12px;
  text-transform: capitalize;
  color: rgb(51, 51, 51);
  cursor: pointer;
  font-weight:500;
  font-size: 13px;
}
.link--categoria-menu{
  text-decoration: none; 
}