.menuContainerNav {
  width: 70%!important;
}
.triggerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triggerContainer::after {
  /* revisar fuente y color*/
  font-family: "work-sans" !important; 
  content: " Categorias";
  margin-left: 5px;
  padding-left: 5px;
  font-family: sans-serif;  
  color: #333333 !important;
  font-weight: 400;
  font-size: 13px;
}