@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logoLink--logo-mobile {
    min-width   : 163px;
    padding-left: 16px;
  }

  .logoContainer--logo-mobile {
    padding: 0;
  }

  .emailInputContainer--email-newsletter {
    padding: 10px;
  }

  .logoLink--logo-mobile {
    padding-left: 0;
  }
}

.logoContainer--logo-mobile {
  padding-left: 0;
}