.flexRow--container-footer-mobile {
  box-sizing: content-box;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(218, 218, 218);
  padding: 30px 0px 10px 0px;
 
}

.flexCol--container-text-footer-top{
  padding-bottom: 20px;
}

.flexRow--container-footer-top-mobile, .flexRow--container-footer-middle-mobile  {
  border-bottom: 1px rgb(218, 218, 218) solid;
  padding: 20px 0;
}

.flexRowContent--container-footer-top-mobile {
  flex-wrap: wrap;
}

.flexRowContent--container-footer-bottom-mobile {
padding: 10px 0;
}

.flexRowContent--container-img-social-media-mobile {
  display: flex;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flexCol--container-text-footer-top{
    min-width: 150px;
  }

  .flexRowContent--container-footer-top-mobile {
    justify-content: space-between;
  }

  .flexCol--container-text-footer-top-mobile {
    padding-left: 10px;
  }

  .flexCol--container-text-footer-top-mobile, .flexCol--container-logo-and-social-media {
    height: fit-content;
  }

  .flexColChild--container-text-footer-middle-mobile {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .flexCol--bigger-mobile {
    min-width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .flexCol--tablet-only {
    display: none;
  }

  .flexColChild--container-text-footer-middle-mobile {
    margin-top: 15px;
  }

  .flexRow--container-footer-middle-mobile {
    padding-top: 0;
  }

  .flexCol--container-text-footer-top-mobile {
    margin: 10px 0;
  }
}