.label--text-footer-top {
  font-size      : 15px;
  text-decoration: none;
  color          : black;
}

.link--link-footer-middle {
  font-size      : 15px;
  text-decoration: none;
  color          : black;
  margin         : 20px 0;

}