.link--desktop__link-col-offers-section {
  text-decoration: none;
}

.link--desktop-link-offers {
  text-decoration: none;
  font-size      : 14px;
  color          : rgb(10, 107, 254);
  text-align     : center;
}