.flexRowContent--container-category-results {
  justify-content: space-between;
}

.flexCol--container-category-filter {
  min-width: 20vw;
  height   : auto;
}


.flexCol--container-results-content-products-department-desktop {
  height   : auto;
}

.flexColChild--container-results-content-products-department-desktop {
  margin: 25px 0;
}

.flexRow--buy-button, .flexRow--buy-button-list {
  margin: 15px 0;
  width : 50%;
}

.flexRow--buy-button-list {
  align-self: center;
}

.flexRowContent--container-row-title-mobile{
  margin: 20px 
}
  
.flexRowContent--container-category-filter{
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 8px 0px;
  margin-bottom: 25px;
  
}

.flexRow--container-text-not-found{
  background-color: #f5f5f5; 
}