.flexRowContent--mobile-container-metodos-pago,
.flexRowContent--mobile-container-creditos  {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.flexRow--mobile-container-section-2 {
  width          : auto;
  display        : flex;
  flex-direction : row;
  justify-content: center;
}
