.paragraph--text-location{
  font-family: work-sans;  
  padding: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.paragraph--text-section-2{
  font-family: work-sans;  
  padding: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.container--mobile-text-metodo-pago{
  font-size: 13px;
  height: 50px;
  width: 135px !important;
  margin: 0 8px;
  border-right: rgb(218, 218, 218) solid 1px;
}

.container--mobile-text-creditos{
  font-size: 13px;
  height: 50px;
  margin: 0 8px;
  width: 130px !important;
}

.text-creditos-section-2{
  height: 50px;
  width: 120px !important;
  border-right: #000000 solid 1px;
}

.container--text-creditos-section-2 {
  height: 50px;
  width: 120px !important;
  border-right: #000000 solid 1px;
}

.paragraph--mobile-txt-categoria {
  font-size: 13px;
  width: 106px;
  color: #000000;
  text-overflow: ellipsis;
  text-align: center;
}

.strong--mobile-text-section-7{
  padding: 10px 0 10px 0;
  font-size: 15px;
  line-height: 1.44;
  letter-spacing: -0.5px;
  color: black;
  width: 374px;
  overflow-wrap: break-word;
  display: block;
}
