@font-face{
    font-family: "arial";
    src: url(assets/fonts/arial.ttf); 
}

@font-face{
    font-family: "work-sans";
    src: url(assets/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf); 
}